In [1]:
import googleapiclient.discovery
import googleapiclient.errors
import csv
import pandas as pd

In [2]:
api_key = "AIzaSyD0PyjLKifno555kPh2D0U7GubZl4DObe4"

In [3]:
api_name = "youtube"
api_version = "v3"

In [4]:
youtube = googleapiclient.discovery.build(api_name, api_version, developerKey=api_key)

In [5]:
video_data = pd.read_csv("v_t20_youtube_videos.csv")

In [6]:
video_data.head()

,video_id,video_title,video_published_at
0,OSTMKBLDoLg,The American fairytale continues as USA beat P...,2024-06-06T23:37:36Z
1,3yiWqnKl7lQ,The Epic Montage | T20 World Cup 2024 Final,2024-07-04T08:51:35Z
2,fVZQCdHUTsA,Virat Kohli ü§ù Rohit Sharma #cricket #cricketsh...,2024-06-30T01:45:47Z
3,89_E436SRos,Let the celebrations begin ü•≥ #cricket #cricket...,2024-06-29T23:30:01Z
4,RJcAz3rU2Zc,Australia claim maiden Men&#39;s T20 World Cup...,2024-05-14T01:52:11Z

In [7]:
video_data.shape

(283, 3)

In [8]:
def get_video_stats(video_ids):
   
    request = youtube.videos().list(
        part="statistics",
        id=",".join(video_ids)  
    )
    response = request.execute()
    
    video_stats = []
    
    # extracting data
    for item in response['items']:
        video_id = item['id']
        stats = item['statistics']
        view_count = stats.get('viewCount', '0')
        like_count = stats.get('likeCount', '0')
        comment_count = stats.get('commentCount', '0')

        # storing data
        video_stats.append({
            'video_id': video_id,
            'video_views': view_count,
            'video_likes': like_count,
            'video_comments': comment_count
        }) 
    
    return video_stats

In [9]:
video_ids = list(video_data['video_id'])

In [10]:
batch_size = 50
batches = [video_ids[i:i + batch_size] for i in range(0, len(video_ids), batch_size)]

In [11]:
all_video_stats = []

In [12]:
# get stats for all videos
for batch in batches:
    stats = get_video_stats(batch)
    all_video_stats.extend(stats)

In [13]:
video_stats = pd.DataFrame(all_video_stats)

In [14]:
video_stats.head()

      video_id video_views video_likes video_comments
0  OSTMKBLDoLg     8721791      106073          10063
1  3yiWqnKl7lQ     4867508      165056           4571
2  fVZQCdHUTsA     6119319      557073           3269
3  89_E436SRos     7038043      487521           2781
4  RJcAz3rU2Zc     4490385       54110           2516

In [15]:
video_stats.shape

(283, 4)

In [16]:
video_data_merged = video_data.merge(video_stats,how='inner',on='video_id')

In [17]:
video_data_merged.tail()

,video_id,video_title,video_published_at,video_views,video_likes,video_comments
278,1KbthIoQGGs,Hayley Matthews crowned the ICC Women&#39;s T2...,2024-01-24T16:22:03Z,2000,53,2
279,rPAWydIzI7o,A magical moment for Australia üí• #T20WorldCup ...,2024-03-08T04:34:07Z,57247,2858,58
280,4RnIK8-73-4,Canada bringing the fun at the #T20WorldCup me...,2024-06-01T14:30:01Z,38062,1816,56
281,ipV5J3hRJg0,Mitch Marsh is close to full fitness ahead of ...,2024-05-27T07:05:40Z,33390,1752,24
282,ciPycxZhuZk,Who is Chris Gayle calling? üòâ#cricket #shorts ...,2024-05-04T14:59:59Z,14444,1125,17

In [18]:
video_data_merged.shape

(283, 6)

In [21]:
video_data_merged.to_csv("t20_youtube_videos_final.csv",index=False)