In [7]:
import googleapiclient.discovery
import googleapiclient.errors
import csv
import pandas as pd

In [8]:
api_key = "AIzaSyBTdO6PnykCTFeLGWeq5tLMIIpZ7_N8a98"

In [9]:
api_name = "youtube"
api_version = "v3"

In [10]:
youtube = googleapiclient.discovery.build(api_name, api_version, developerKey=api_key)

In [11]:
video_data = pd.read_csv("../../Data/Raw/v_test_youtube_videos.csv")

In [12]:
video_data.head()

,video_id,video_title,video_published_at
0,gTo-lPOGPdg,Australia v India | WTC23 Final | Match Highli...,2024-02-13T03:00:17Z
1,B3JZZThHKA4,Less than 10 months to go for the #WTC25 Final...,2024-09-04T17:20:24Z
2,I7fqF6j_CJI,Australiaâ€™s victorious WTC23 campaign | The Te...,2024-05-07T21:10:00Z
3,MbKhGIPRvGI,Australian young gun Sam Konstas put to the te...,2024-01-28T04:00:06Z
4,ohKPrdpbaaA,The King of Yorkers Jasprit Bumrah is now the ...,2024-02-07T17:19:55Z

In [13]:
video_data.shape

(17, 3)

In [14]:
def get_video_stats(video_ids):
   
    request = youtube.videos().list(
        part="statistics",
        id=",".join(video_ids)  
    )
    response = request.execute()
    
    video_stats = []
    
    # extracting data
    for item in response['items']:
        video_id = item['id']
        stats = item['statistics']
        view_count = stats.get('viewCount', '0')
        like_count = stats.get('likeCount', '0')
        comment_count = stats.get('commentCount', '0')

        # storing data
        video_stats.append({
            'video_id': video_id,
            'video_views': view_count,
            'video_likes': like_count,
            'video_comments': comment_count
        }) 
    
    return video_stats

In [15]:
video_ids = list(video_data['video_id'])

In [16]:
batch_size = 50
batches = [video_ids[i:i + batch_size] for i in range(0, len(video_ids), batch_size)]

In [17]:
all_video_stats = []

In [18]:
# get stats for all videos
for batch in batches:
    stats = get_video_stats(batch)
    all_video_stats.extend(stats)

In [19]:
video_stats = pd.DataFrame(all_video_stats)

In [20]:
video_stats.head()

      video_id video_views video_likes video_comments
0  gTo-lPOGPdg     7231344       96657           5039
1  B3JZZThHKA4      857051       40188           1944
2  I7fqF6j_CJI       44816        2132            167
3  MbKhGIPRvGI     4276174      215540           1955
4  ohKPrdpbaaA     9120973      328882           1320

In [21]:
video_stats.shape

(17, 4)

In [22]:
video_data_merged = video_data.merge(video_stats,how='inner',on='video_id')

In [23]:
video_data_merged.tail()

,video_id,video_title,video_published_at,video_views,video_likes,video_comments
12,Yo4Mz9vsdV8,Ponting lauds Ashwin ahead of his 100th Test ðŸŒŸ...,2024-03-06T17:08:53Z,32410,2704,17
13,1zKFpTNpd_0,Usman Khawaja compares Australia&#39;s Test te...,2024-05-21T01:30:24Z,71651,2764,21
14,80kTU6Q7zKo,It&#39;s a fiery contest happening in Benoni ðŸ¥µ...,2024-02-06T12:50:45Z,5938171,191720,689
15,VQpTVVsNHQs,Glenn Maxwell produces one of the greatest ODI...,2024-02-11T04:08:33Z,8379970,144288,5940
16,pdIQyTMdI8A,IT&#39;S HAPPENING ðŸ¤© The ICC #WTC25 Final will...,2024-09-03T10:00:00Z,190685,15571,358

In [24]:
video_data_merged.shape

(17, 6)

In [25]:
video_data_merged.to_csv("../../Data/Raw/test_youtube_videos_final.csv",index=False)